.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/assets/hatena.json
/app/src/main/assets/twitter.json
/app/keystore/
/app/src/debug/AndroidManifest.xml
/app/src/release/
/app/app-release.apk
/fabric.properties
/app/fabric.properties
