.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/keystore/
/app/src/debug/AndroidManifest.xml
/app/src/release/
/app/app-release.apk
/gradle.properties
/fabric.properties
/app/fabric.properties
