.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/assets/hatena.json
/app/keystore/
/app/src/release/
/app/app-release.apk
/gradle.properties
/fabric.properties
